# Data Science tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Creating an ordered list of Data Scienec languages and libraries
* Executing simple arethmetic code snippets
* Commenting on the code snippets
* Listing different Data Science tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R/Rstudio
3. Julia
4. Java
5. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. NumPy
4. Tensorflow
5. Matplotlib

Data Science Tools |
---------------------------
Jupyter Notebooks |
RStudio |
Visual Studio Code |
Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
denom = 60
hrs = min/denom
hrs

3.3333333333333335

## Author
Abdulaziz Alqattan